@keyframes slide-disappear {
  0% {
    transform: translateY(0vh);
    width: 300px;
    height: 300px;
  }
  25% {
    width: 100px;
    height: 100px;
  }
  100% {
    transform: translateY(40vh);
    width: 100px;
    height: 100px;
  }
}

@keyframes slide-appear {
  0% {
    transform: translateY(40vh);
    width: 100px;
    height: 100px;
  }
  25% {
    width: 100px;
    height: 100px;
  }
  100% {
    transform: translateY(0vh);
    width: 300px;
    height: 300px;
  }
}

.slide-down {
  animation: slide-disappear 0.5s ease-in-out forwards;
}

.slide-up {
  animation: slide-appear 0.5s ease-in-out forwards;
}
